body{
  padding-top: 100px;
  text-align: center;
}

#wrapper {
margin:auto;
font-family: sans-serif;
}


h2, a {
  text-decoration: none;
  color: #999;
  line-height: 2em;
}

a:hover {
  color: #60B5CC
}
